<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="products.length > 0">
    <ion-item *ngFor="let product of products" (click)="onProductClick(product.id)">
      <ion-thumbnail slot="start" style="--size: 150px;">
        <img [src]="product.image" alt="{{ product.title }}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.title }}</h2>
        <p>Price: {{ product.price }}</p>
        <p *ngIf="product.rating">Rating: {{ product.rating.rate }} ({{ product.rating.count }} reviews)</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>